# # --- Python ---
# __pycache__/
# *.py[cod]
# *$py.class

# # --- VS Code ---
.vscode/
.idea/

# # --- Dados (Se forem pesados ou sigilosos) ---
# FinalTable_Consolidada.parquet
# *.csv
# *.xlsx
# # Se quiser subir uma amostra, crie uma pasta 'data/sample' e tire ela daqui

# # --- Jupyter ---
# .ipynb_checkpoints/

# # --- Ambiente Virtual ---
# env/
# venv/
# .env